<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid"> 
<app-myheader [title]="title" [style.background]="'yellow'"></app-myheader>
  
   <router-outlet></router-outlet>

<!--
    <tabs-group [titles]="['t1' , 't2' , 't3']"
    (activeTabEvent)="selTab=$event.value">
  <div [style.display]="selTab=='t1'?'block':'none'">aaa</div>
  <div [style.display]="selTab=='t2'?'block':'none'">bbb</div>
  <div [style.display]="selTab=='t3'?'block':'none'">ccc</div>
  </tabs-group>
-->
<hr/>
<div [style.background]="'yellow'">
    <!-- pied de page qui va bien -->
    <a [routerLink]="['/welcome' ]" > welcome </a> <br/>
</div>

</div>


