<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid"> 
<app-myheader [title]="title"></app-myheader>
  
    <toggle-panel [title]="'tva'">
      <app-tva></app-tva>
    </toggle-panel>

  <toggle-panel [title]="'rectangle'">
      <app-rect></app-rect>
    </toggle-panel>
<!--
    <tabs-group [titles]="['t1' , 't2' , 't3']"
    (activeTabEvent)="selTab=$event.value">
  <div [style.display]="selTab=='t1'?'block':'none'">aaa</div>
  <div [style.display]="selTab=='t2'?'block':'none'">bbb</div>
  <div [style.display]="selTab=='t3'?'block':'none'">ccc</div>
  </tabs-group>
-->

</div>


